{% extends "blog/base.html" %}
{% load adminfiles_tags %}

{% block title %}{{object.title}}{% endblock %}

{% block content %}
<article pubdate="{{object.date}}">
    <header>
        <h2 class="title">
            <a href="{{object.get_absolute_url}}" rel="bookmark" title="Permanant Link: {{object.title}}">
                {{object.title}}
            </a>
        </h2>
        <time datetime="{{object.date}}">{{object.date}}</time>
        <div class="tags">
            {% for tagname, url in object.tag_urls %}
            <a href="{{url}}">{{tagname}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </div>
    </header>
    <div class="body">
        {{object.body|render_uploads}}
    </div>
</article>
{% endblock %}
