{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
<!--
#content_gallery ul {
    list-style: none;
}
#current_photo {
    height: 560px;
    width: 840px;
    overflow: hidden;
}
.gallery {
    position: relative;
}
-->
</style>
<script type="text/javascript">
<!--
function fader(parent) {
    var self = {current: 0,
                items: parent.children()};
    self.items.hide();
    self.items.eq(self.current).show();
    parent.css('position', 'relative');
    self.items.css({'position':'absolute',
                    'top':0,
                    'left':0});
    function fade_to(index, callback) {
        if (index==self.current) return;
        var now = self.items.eq(self.current);
        now.css('z-index',1);
        self.items.eq(index).css('z-index',0).show();
        now.fadeOut(callback);
        self.current = index;
    }
    function slideshow(delay) {
        var next = self.current+1;
        if (next >= self.items.length) next=0;
        function callback() {
            setTimeout(function() {self.slideshow(delay)}, delay);
        }
        self.fade_to(next, callback);
    }
    self.fade_to = fade_to;
    self.slideshow = slideshow;
    return self;
}
-->
</script>
{% endblock %}

{% block content %}
<div id="content_gallery">
    <div class="gallery">
    {% block gallery_images %}

    {% endblock %}
    </div>
    {% block gallery_links %}
    <div id="gallery_links">
        <table width="80" border="0">
          {% for gallery in galleries %}
          <tr>
            <td>
                <a class="gallery-{{forloop.counter0}}" href="{{gallery.get_absolute_url}}">{{gallery}}</a>
            </td>
          </tr>
          {% endfor %}
        </table>
    </div>
    {% endblock %}
</div>
{% endblock %}
