{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
<!--
#content_gallery ul {
    list-style: none;
}
#apDiv1 {
	position:absolute;
	left:93px;
	top:118px;
	width:963px;
	height:563px;
	z-index:1;
	color: #cdd882;
	background-color: cdd882;
}
#current_photo {
    height: 560px;
    width: 840px;
    overflow: hidden;
}
-->
</style>
<script type="text/javascript">
<!--
function fader(parent) {
    var items = parent.children();
    items.hide();
    var current = items.eq(0).show();
    parent.css('position', 'relative');
    items.css({'position':'absolute',
               'top':0,
               'left':0});
    function fade_to(index) {
        current.css('z-index':1);
        var next = items.eq(index).css('z-index':0).show();
        current.fadeOut();
        current = next;
    }
    
    self = {'fade_to':fade_to};
    return self;
}
-->
</script>
{% endblock %}

{% block content %}
<div id="content_gallery">
    {% block gallery_images %}

    {% endblock %}
    {% block gallery_links %}
    <div id="gallery_links">
        <table width="80" border="0">
          {% for gallery in galleries %}
          <tr>
            <td>
                <a class="gallery-{{forloop.counter0}}" href="{{gallery.get_absolute_url}}">{{gallery}}</a>
            </td>
          </tr>
          {% endfor %}
        </table>
    </div>
    {% endblock %}
</div>
{% endblock %}
