{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
<!--
#content_gallery ul {
    list-style: none;
}
#current_photo {
    height: 560px;
    width: 840px;
    overflow: hidden;
}
.gallery {
    position: relative;
}
-->
</style>
{% endblock %}

{% block content %}
<div id="content_gallery">
    <div class="gallery">
    {% block gallery_images %}

    {% endblock %}
    </div>
    {% block gallery_links %}
    <div id="gallery_links">
        <table width="80" border="0">
          {% for gallery in galleries %}
          <tr>
            <td>
                <a class="gallery-{{forloop.counter0}}" href="{{gallery.get_absolute_url}}">{{gallery}}</a>
            </td>
          </tr>
          {% endfor %}
        </table>
    </div>
    {% endblock %}
</div>
{% endblock %}
