{% extends "gallery/base.html" %}

{% block title %}{{object.name}}{% endblock %}

{% block extrahead %}
{{block.super}}
<script type="text/javascript">
$(document).ready(function() {
    $('#photo_list a').click(function() {
        $('#current_photo').css('background-image', 'url('+$(this).attr('href')+')');
        return false;
    });
    var container = $('#photo_container');
    var ul = container.find('ul');
    
    var itemsWidth = ul.innerWidth() - container.outerWidth();
    
    container.find('.slider').slider({
        min: 0,
        max: itemsWidth,
        handle: '.handle',
        stop: function (event, ui) {
            ul.animate({'left' : ui.value * -1}, 500);
        },
        slide: function (event, ui) {
            ul.css('left', ui.value * -1);
        }
    });
});
</script>
<style type="text/css">
<!--
#photo_list {
    list-style: none;
}

#photo_list li {
    float:left;
}

#current_photo {
    height: 560px;
    width: 840px;
}

#photo_container {
    height: 120px;
    width: 840px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
}

.gallery {
    position: relative;
}
-->
</style>
{% endblock %}

{% block gallery_images %}
<div class="gallery">
<div id="current_photo">&nbsp;</div>
<div id="photo_container">
    <ul id="photo_list">
    {% for photo in object.photos.all %}
        <li>
            <a href="{{photo.display.url}}">
                <img src="{{photo.thumbnail.url}}" alt=""/>
            </a>
        </li>
    {% endfor %}
    </ul>
    <div class="slider">
        <div class="handle">&nbsp;</div>
    </div>  
</div>
</div>
{% endblock %}
