{% extends "gallery/base.html" %}

{% block title %}{{object.name}}{% endblock %}

{% block extrahead %}
{{block.super}}
<script type="text/javascript">
$(document).ready(function() {
    //var fade_obj = fader($('#current_photo > ul'));
    //fade_obj.slideshow(5000);
    $('#photo_browser').hover(function() {
         $(this).fadeTo(500, 1);
    }, function() {
         $(this).fadeTo(500, .01);
    }).fadeTo(500, .01);
    $.getJSON('{{object.flickr_url|safe}}&jsoncallback=?', function(data) {
        var images = $('#current_photo ul');
        var photo_list = $('#photo_list');
        $.each(data.items, function(i, item) {
            item.media.b = item.media.m.replace('_m.jpg', '_b.jpg');
            images.append('<li id="#photo-'+i+'"><img src="'+item.media.b+'" alt=""/></li>');
            photo_list.append('<li><a href="#photo-'+i+'"><img src="'+item.media.m+'" alt=""/></a></li>');
        });
    var fade_obj = fader($('#current_photo > ul'));
    $('#photo_list a').click(function() {
        var index= parseInt($(this).attr('href').split('-').pop());
        fade_obj.fade_to(index);
        return false;
    });
    var container = $('#photo_container');
    var ul = container.find('ul');
    ul.width(ul.children().length * ul.children().outerWidth()); 
    var itemsWidth = ul.innerWidth() - container.outerWidth();
    $('#photo_slider').slider({
        min: 0,
        max: itemsWidth,
        handle: '.handle',
        stop: function (event, ui) {
            ul.animate({'left' : ui.value * -1}, 500);
        },
        slide: function (event, ui) {
            ul.css('left', ui.value * -1);
        }
    });});
});
</script>
<style type="text/css">
<!--
.slider {
    margin: 10px;
}
#photo_list li {
    float:left;
}

#photo_list > ul {
    position: absolute;
}

#photo_list {
    position: relative;
    padding: 0;
    margin: 0;
    margin-left: 3px;
}

#photo_browser {
    width: 836px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

#photo_container {
    height: 80px;
    width: 836px;
    overflow: hidden;
}
-->
</style>
{% endblock %}

{% block gallery_images %}
<div id="current_photo">
    <ul> 
    </ul>
</div>
<div id="photo_browser">
<div id="photo_container">
    <ul id="photo_list">
    </ul>
</div>
<div id="photo_slider">
    <div class="handle">&nbsp;</div>
</div>  
</div>
{% endblock %}
