{% extends "gallery/base.html" %}
{% load compressed %}
{% block title %}Galleries{% endblock %}

{% block extrahead %}
{{block.super}}
<script type="text/javascript">
$(document).ready(function() {
    var fade_obj = fader($('#current_photo > ul'));
    $('#gallery_links a').mouseover(function() {
        fade_obj.fade_to(parseInt($(this).attr('class').split('-').pop()));
        return false;
    });
});
</script>
{% endblock %}

{% block gallery_images %}
<div id="current_photo">
    <ul>
        {% for gallery in galleries %}
        <li>
            <img src="{{gallery.display.url}}">
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
