<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}Jenny Thai delievering Refreshing, Exciting, and Artistic Photography{% endblock %}</title>
<link type="text/css" href="http://jqueryui.com/latest/themes/base/jquery.ui.all.css" rel="stylesheet" />
<link href="/media/css/jtphotography.css" rel="stylesheet" type="text/css" />
<meta name="description" content="{% block description %}Jenny Thai Photography delievering refreshing, exciting, and artistic photographs in the beautiful city of San Diego{% endblock %}"/>
<meta name="keywords" content="{% block keywords %}weddings photography photographs pictures amazing birthday babies baby newborns events portraits portraitures{% endblock %}" />
<script src="/media/js/swfobject_modified.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript"></script>
{% block extrahead %}{% endblock %}
{% block extra_head %}{% endblock %}
</head>
<body>
<div id="container_index">
	<div id="top_nav">
	  <div class="logo"><a href="/"><img src="/media/images/jtlogoblack.png" alt="logo" name="logo" width="150" height="82" border="0" id="logo"></a></div>
    	<div id="nav"><table class="table"width="550" height="30" border="0" cellspacing="10">
  	<tr>
    	<td align="center"><a href="/bio/">BIO</a></td>
    	<td align="center"><a href="/portfolio/">PORTFOLIO</a></td>
    	<td align="center"><a href="/booking/">BOOKING</a></td>
    	<td align="center"><a href="/reviews/">REVIEWS</a></td>
    	<td align="center"><a href="/contact/">CONTACT</a></td>
    	<td align="center"><a href="/blog/">BLOG</a></td>
    	<td align="center"><a href="/client/">CLIENT LOGIN</a></td>
  	</tr>
    </table></div>
</div>
{% block content %}

{% endblock %}
</body>
</html>
