{% extends "base.html" %}

{% block content %}
	<div id="content">
    	<div class="image"><img src="/media/images/image2.jpg"></div>
	</div>
    <div id="content_right">
      <h1>Biography</h1>
      <h2>Jenny Thai is an award-winning, service oriented photography studio specializing in interiors and architecture. We have provided high quality photography both in studio and on location since 1997.
        <p>
Our services begin with meeting with our clients in person to capture their vision and other pre-production ideas, followed by the actual shoot, and concluding with post-production digital processing, prints and album ordering.
<p>
Jenny began photographing as an undergraduate at the renowned Institute of Artistic Studies while working on a B.A. in Photojournalism. In a recent interview with Professional Photographer Magazine Elle recalled, "Ever since I can remember I have been captivated by the idea of storytelling with images. I have a genuine appreciation for all of my clients and love 'going for broke' when it comes to creating images that will exceed their expectations." </h2>
  </div>
{% endblock %}
