{% extends "base.html" %}

{% block content %}
	<div id="content">
    	<div class="image"><img src="/media/images/image2.jpg"></div>
	</div>
    <div id="content_right">
      <h1>Booking</h1>
      <div>
<p>
Studio sessions begin at $200/hr
Location sessions begin at $250/hr
</p>
<p>
All sessions include a complimentary proofing CD. Albums, portraits, framing, digital files and DVD slide shows are available.
</p>
<p>
Please contact the studio to inquire further about scheduling details and other options.
</p>
</div>
  </div>
{% endblock %}
