{% extends "base.html" %}

{% block content %}
	<div id="content">
    	<div class="image"><img src="/media/images/image2.jpg"></div>
	</div>
    <div id="content_right">
      <h1>reviews</h1>
      <div>
<p>
"Elle, you are a tremendously talented photographer and artist. We are thrilled with how our home looks and we'll value and use these images in our marketing materials for many years to come!"
<br/>
- Susan J., Art Director
</p>
<p>
"Our clients have commented on the outstanding quality of our images. Thanks for making our shoot easy and flexible."
<br/>
- Erica F., Marketing Director
</p>
<p>
"Dear Elle, We just got our photographs back and all we can say is "WOW!" We knew we had to have you when we saw your portfolio but our photos are even better than we could have hoped for. We will definitely refer you to our colleagues. All the best!"
<br/>
- Amy C., Creative Director
</p>
</div>
  </div>
{% endblock %}
