{% extends "adminfiles/uploader/base.html" %}
{% load thumbnail %}
{% load i18n %}
{% block extrastyle %}
    <link rel="stylesheet" href="{{ ADMINFILES_MEDIA_URL }}adminfiles/adminfiles.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" src="{{ JQUERY_URL }}"></script>
    <script type="text/javascript" charset="utf-8">
        var FIELD = parent.document.getElementById('{{field_id}}');
    </script>
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
        $('li.item').live('click', function() {
            var link = $(this).find('a.insert');
            $(FIELD).append('<a class="remove" onclick="$(this).remove();return false"><input name="photo_ids" value="'+link.attr('rel').split('/').pop()+'" type="hidden"/><img src="'+link.attr('href')+'"/></a>');
        });
    });
    -->
    </script>
{% endblock %}

{% block content %}
<ul id="adminfiles">
{% block files %}
<li class="nav">
  {% if prev_page %}
  <a class="prev" href="{{ prev_page }}">&laquo; {% trans "Newer" %}</a>
  {% endif %}
  <a class="next" href="{{ next_page }}">{% trans "Older" %} &raquo;</a>
</li>
{% for p in photos %}
<li class="item image flickr" style="background-image:url({{ p.url }})">
  <div class="popup">
    <a href="#" class="close" title="Close">X</a>
    <ul>
      <li><a class="insert" href="{{ p.url }}" rel="{{ p.link }}" title="{{ p.title }}">{% trans "Insert Photo" %}</a></li>
    </ul>
  </div>
  <div class="upload-title">
    {{ p.title }}
  </div>
</li>
{% endfor %}
{% endblock %}
</ul>
{% endblock %}
