body {
	background-color: #FFFFFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
}

ul {
	list-style: none;
}

#container_index {
	margin: auto;
	width:1000px;
}

#top_nav {
	height: 100px;
	width: 1000px;
}

#top_nav .logo {
	float: left;
	padding-top:0px;
}

#nav {
	height: 85px;
	width: 1000px;
	font-size: 10px;
}

#nav a {
	text-decoration: none;
}

#nav .table{
	float: right;
	height: 30px;
	width: 600px;
	margin-top: 45px;
	margin-right: 24px;
}

#intro_slideshow {
	height: 665px;
	width: 1000px;
}

#content {
	width:950px;
	clear: both;
}

#content .image{
	padding: 5px;
	float:left;
}

#content right {
	float:left;
	height: 500px;
	width: 300px;
	padding: 30px;
	clear: both;
}

#content_gallery {
	height:575px;
	width:950px;
	background-color:#cdd882;
	clear:both;
}

.gallery {
	margin: 7px;
	float: left;
}

#gallery_links {
	width: 90px;
	float: right;
	padding-top: 20px;
}

#gallery_links a {
	text-decoration: none;
	font-size: 14px;
	color:#FFFFFF;
}

#gallery_links a:hover {
	text-transform:uppercase;
	font-weight:bold;
	color:#ffffff;
}

a {
	text-decoration: none;
	font-size: 14px;
	color:#000;
	background-color: cdd882;
}

a:hover {
	font-size: 14px;
	font-weight: bold;
	color:#cdd882;
}

h1 {
	font-size: 16px;
	text-align: left;
	padding-left: 390px;
	text-transform: uppercase;
	padding-top: 50px;
}

h2 {
	font-size: 12px;
	text-align: left;
	padding-top: 10px;
	padding-right: 250px;
	padding-bottom: 30px;
	padding-left: 390px;
	line-height: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
